*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/*.log
/features/screenshots/failures/
/features/screenshots/diff/
/features/baseline_screenshots/*.PNG
/features/baseline_screenshots/*.png
/features/screenshots/failures/*.PNG
/features/screenshots/failures/*.png
/features/screenshots/diff/*.PNG
/features/screenshots/diff/*.png
/.idea/workspace.xml
/.idea/dictionaries/aPurmawinata.xml
*.log
.idea/workspace.xml
/public/
cucumber.json